#accessibilty-bar {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  background-color: rgba(34, 34, 34, 0.75);
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: 0 5px 30px rgba(34, 34, 34, 0);
}
#accessibilty-bar.active {
  transform: translate(0, -50%);
  box-shadow: 0 5px 30px rgba(34, 34, 34, 0.5);
}
#accessibilty-bar #universalAccessBtn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  color: white;
  background-color: #ed1c24;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-110%, -50%);
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}
#accessibilty-bar #universalAccessBtn span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  text-align: right;
  font-weight: bold;
  color: white;
  background-color: #ed1c24;
  box-shadow: 0 10px 30px rgba(102, 102, 102, 0.1);
  height: 100%;
  padding: 0 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%);
}
#accessibilty-bar #universalAccessBtn.collapsed span {
  opacity: 0;
  right: 50%;
}
#accessibilty-bar #universalAccessBtn:hover span {
  opacity: 1;
  right: 120%;
}
#accessibilty-bar a.setAccessibility {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.2rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  background-color: #eee;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #222;
  text-decoration: none !important;
}
#accessibilty-bar a.setAccessibility strong {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.25rem;
  border-radius: 0.2rem;
  background-color: #ed1c24;
  color: white;
}

/*
	=== === === === === === === === === === === === === === === === === ===
	=== === === === === === Activating Buttons  === === === === === === ===
	=== === === === === === === === === === === === === === === === === ===
	*/
body.contrast #accessibilty-bar a[data-accessibility=contrast] {
  background-color: #ed1c24;
}
body.darkmode #accessibilty-bar a[data-accessibility=dark] {
  background-color: #ed1c24;
  color: white !important;
}
body.accessibility_readingLine #accessibilty-bar a[data-accessibility=readingLine] {
  background-color: #ed1c24;
  color: white !important;
}

/*
	=== === === === === === === === === === === === === === === === === ===
	=== === === === === === === readingLine === === === === === === === ===
	=== === === === === === === === === === === === === === === === === ===
	*/
body.accessibility_readingLine #reading_guide {
  background-color: #e4fd00 !important;
  opacity: 0.75;
  width: 100vw;
  height: 1rem;
  position: absolute;
  left: 0;
  z-index: 9999;
  transform: translateX(0px);
}

/*
	=== === === === === === === === === === === === === === === === === ===
	=== === === === === ===  HighConstrast  === === === === === === === ===
	=== === === === === === === === === === === === === === === === === ===
	To exclude elements, add this code: ELEMENT:not(.excludeThisClass):not(.andThis):not(.andThisOther):not(.andETC)
	e.g.: div:not(.featured-image):not(.wrapImgMon):not(.carousel-item):not(.carousel-inner)
  */
body.contrast {
  background: black !important;
  color: white !important;
}
body.contrast nav,
body.contrast li,
body.contrast ol,
body.contrast header,
body.contrast footer,
body.contrast section,
body.contrast main,
body.contrast aside,
body.contrast article {
  background: black !important;
  color: white !important;
}
body.contrast h1,
body.contrast h2,
body.contrast h3,
body.contrast h4,
body.contrast h5,
body.contrast h6,
body.contrast p,
body.contrast label,
body.contrast strong,
body.contrast em,
body.contrast cite,
body.contrast q,
body.contrast i,
body.contrast b,
body.contrast u,
body.contrast span {
  color: white !important;
}
body.contrast a {
  color: yellow !important;
}
body.contrast a * {
  color: yellow !important;
}
body.contrast button,
body.contrast input[type=button],
body.contrast input[type=reset],
body.contrast input[type=submit] {
  background: yellow !important;
  color: black !important;
  font-weight: bold;
  border: none !important;
}
body.contrast img {
  filter: grayscale(100%) contrast(120%);
}
body.contrast input[type=text],
body.contrast input[type=password],
body.contrast input[type=url],
body.contrast input[type=search],
body.contrast input[type=email],
body.contrast input[type=tel],
body.contrast input[type=date],
body.contrast input[type=month],
body.contrast input[type=week],
body.contrast input[type=datetime],
body.contrast input[type=datetime-local],
body.contrast textarea,
body.contrast input[type=number] {
  background: black !important;
  border: 1px solid white !important;
  color: white !important;
}
body.contrast #accessibilty-bar * {
  background-color: black !important;
  color: yellow !important;
}
body.contrast #accessibilty-bar button.btn-primary,
body.contrast #accessibilty-bar a {
  border: 1px solid !important;
}
body.contrast #accessibilty-bar a[data-accessibility=contrast] {
  background-color: yellow !important;
  color: black !important;
}

/*
	=== === === === === === === === === === === === === === === === === ===
	=== === === === === === ===   DarkMode  === === === === === === === ===
  === === === === === === === === === === === === === === === === === ===
  To exclude elements, add this code: ELEMENT:not(.excludeThisClass):not(.andThis):not(.andThisOther):not(.andETC)
	e.g.: div:not(.featured-image):not(.wrapImgMon):not(.carousel-item):not(.carousel-inner)
  */
body.darkmode {
  background: #121212 !important;
  color: #655b5b !important;
}
body.darkmode nav,
body.darkmode li,
body.darkmode ol,
body.darkmode header,
body.darkmode footer,
body.darkmode section,
body.darkmode main,
body.darkmode aside,
body.darkmode article {
  background: #121212 !important;
  color: #655b5b !important;
}
body.darkmode h1,
body.darkmode h2,
body.darkmode h3,
body.darkmode h4,
body.darkmode h5,
body.darkmode h6,
body.darkmode p,
body.darkmode label,
body.darkmode strong,
body.darkmode em,
body.darkmode cite,
body.darkmode q,
body.darkmode i,
body.darkmode b,
body.darkmode u,
body.darkmode span {
  color: #655b5b !important;
}
body.darkmode a {
  color: #8d8080 !important;
}
body.darkmode a * {
  color: #8d8080 !important;
}
body.darkmode button,
body.darkmode input[type=button],
body.darkmode input[type=reset],
body.darkmode input[type=submit] {
  background: #292323 !important;
  color: #655b5b !important;
  border: #191414 !important;
}
body.darkmode img {
  filter: grayscale(100%) contrast(120%);
}
body.darkmode input[type=text],
body.darkmode input[type=password],
body.darkmode input[type=url],
body.darkmode input[type=search],
body.darkmode input[type=email],
body.darkmode input[type=tel],
body.darkmode input[type=date],
body.darkmode input[type=month],
body.darkmode input[type=week],
body.darkmode input[type=datetime],
body.darkmode input[type=datetime-local],
body.darkmode textarea,
body.darkmode input[type=number] {
  background: #191414 !important;
  border: 1px solid #292323 !important;
  color: #655b5b !important;
}
body.darkmode img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  filter: grayscale(75%) contrast(90%);
}
body.darkmode img:hover {
  filter: grayscale(0) contrast(100%);
}
body.darkmode #accessibilty-bar * {
  background-color: #655b5b !important;
  color: #121212 !important;
}
body.darkmode #accessibilty-bar a[data-accessibility=darkmode] {
  background-color: #121212 !important;
  color: #655b5b !important;
}
body.darkmode #accessibilty-bar a {
  color: #8d8080 !important;
}
body.darkmode #accessibilty-bar a * {
  color: #8d8080 !important;
}
body.darkmode #accessibilty-bar a strong,
body.darkmode #accessibilty-bar a i {
  background-color: #191414 !important;
}

/*# sourceMappingURL=asb.css.map */
