@charset "UTF-8";
#accessibilty-bar {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 9999;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  background-color: rgba(34, 34, 34, 0.75);
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: 0 5px 30px rgba(34, 34, 34, 0);
}
#accessibilty-bar.active {
  transform: translate(0, -50%);
  box-shadow: 0 5px 30px rgba(34, 34, 34, 0.5);
}
#accessibilty-bar #universalAccessBtn {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  color: white;
  background-color: #ed1c24;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  transform: translate(-110%, -50%);
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}
#accessibilty-bar #universalAccessBtn span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  text-align: right;
  font-weight: bold;
  color: white;
  background-color: #ed1c24;
  box-shadow: 0 10px 30px rgba(102, 102, 102, 0.1);
  height: 100%;
  padding: 0 1rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 120%;
  transform: translateY(-50%);
}
#accessibilty-bar #universalAccessBtn.collapsed span {
  opacity: 0;
  right: 50%;
}
#accessibilty-bar #universalAccessBtn:hover span {
  opacity: 1;
  right: 120%;
}
#accessibilty-bar a.setAccessibility {
  display: flex;
  align-items: center;
  padding: 0.1rem 0.2rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  background-color: #eee;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #222;
  text-decoration: none !important;
}
#accessibilty-bar a.setAccessibility strong {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.25rem;
  border-radius: 0.2rem;
  background-color: #ed1c24;
  color: white;
}

/*
	=== === === === === === === === === === === === === === === === === ===
	=== === === === === === Activating Buttons  === === === === === === ===
	=== === === === === === === === === === === === === === === === === ===
	*/
body.contrast #accessibilty-bar a[data-accessibility=contrast] {
  background-color: #ed1c24;
}
body.darkmode #accessibilty-bar a[data-accessibility=dark] {
  background-color: #ed1c24;
  color: white !important;
}
body.accessibility_readingLine #accessibilty-bar a[data-accessibility=readingLine] {
  background-color: #ed1c24;
  color: white !important;
}

/*
	=== === === === === === === === === === === === === === === === === ===
	=== === === === === === === readingLine === === === === === === === ===
	=== === === === === === === === === === === === === === === === === ===
	*/
body.accessibility_readingLine #reading_guide {
  position: absolute;
  left: 0;
  background-color: rgba(228, 253, 0, 0.75) !important;
  height: 1rem;
  width: 100vw;
  z-index: 9999;
}

/*
	=== === === === === === === === === === === === === === === === === ===
	=== === === === === ===  HighConstrast  === === === === === === === ===
	=== === === === === === === === === === === === === === === === === ===
	Para excluir elementos adcione o seguinte código:
		ELEMENT:not(.excludeThisClass):not(.andThis):not(.andThisOther):not(.andETC)
	For example:
		div:not(.featured-image):not(.wrapImgMon):not(.carousel-item):not(.carousel-inner)
	*/
body.contrast {
  background: black !important;
  color: white !important;
}
body.contrast nav,
body.contrast li,
body.contrast ol,
body.contrast header,
body.contrast footer,
body.contrast section,
body.contrast main,
body.contrast aside,
body.contrast article {
  background: black !important;
  color: white !important;
}
body.contrast h1,
body.contrast h2,
body.contrast h3,
body.contrast h4,
body.contrast h5,
body.contrast h6,
body.contrast p,
body.contrast label,
body.contrast strong,
body.contrast em,
body.contrast cite,
body.contrast q,
body.contrast i,
body.contrast b,
body.contrast u,
body.contrast span {
  color: white !important;
}
body.contrast a {
  color: yellow !important;
}
body.contrast a * {
  color: yellow !important;
}
body.contrast .btn-primary {
  color: #fff;
  background-color: #000;
  border-color: yellow;
}
body.contrast button,
body.contrast input[type=button],
body.contrast input[type=reset],
body.contrast input[type=submit] {
  background: black !important;
  color: yellow !important;
  border: none !important;
}
body.contrast img,
body.contrast div.featured-image,
body.contrast div.wrapImgMon {
  filter: grayscale(100%) contrast(120%);
}
body.contrast .site-logo img {
  filter: brightness(0) invert(1);
}
body.contrast input[type=text],
body.contrast input[type=password],
body.contrast input[type=url],
body.contrast input[type=search],
body.contrast input[type=email],
body.contrast input[type=tel],
body.contrast input[type=date],
body.contrast input[type=month],
body.contrast input[type=week],
body.contrast input[type=datetime],
body.contrast input[type=datetime-local],
body.contrast textarea,
body.contrast input[type=number] {
  background: black !important;
  border: 1px solid white !important;
  color: white !important;
}
body.contrast #subHeader .accessPoints a {
  color: yellow !important;
}
body.contrast #subHeader .accessPoints a strong {
  background-color: transparent;
  color: yellow !important;
}
body.contrast #accessibilty-bar * {
  background-color: black !important;
  color: yellow !important;
}
body.contrast #accessibilty-bar button.btn-primary,
body.contrast #accessibilty-bar a {
  border: 1px solid !important;
}
body.contrast .section-faq .category_parent .category_child .faqWrapper {
  border: 1px solid white;
}
body.contrast .AppConvenios .AgreementsList .AgreementsListItems .AgreementItem .wrap .agreementImage img {
  max-width: 100%;
  position: relative;
  z-index: 1;
}
body.contrast #accessibilty-bar a[data-accessibility=contrast] {
  background-color: yellow !important;
  color: black !important;
}
body.contrast .carousel-indicators li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid yellow !important;
  background-color: transparent;
}
body.contrast .carousel-indicators li:hover {
  background-color: transparent;
}
body.contrast .carousel-indicators li.active {
  background: yellow !important;
}
body.contrast .carousel-control-prev,
body.contrast .carousel-control-next {
  border: 2px solid yellow !important;
  background: black;
}
body.contrast .carousel-control-prev span,
body.contrast .carousel-control-next span {
  color: yellow;
  filter: sepia(100) saturate(100);
}
body.contrast .tit_layout_01:after {
  background-color: yellow !important;
}
body.contrast .tit_layout_01.tit_layout_01_icon i {
  color: yellow !important;
}
body.contrast .section-banner-noticias-home .item-banner {
  border: none;
}
body.contrast .section-more_news-home .list-last-news a .category:after,
body.contrast .section-videos-home .list-last-videos a .wrapTxt .title:after {
  background-color: white !important;
}

/*
	=== === === === === === === === === === === === === === === === === ===
	=== === === === === === ===   DarkMode  === === === === === === === ===
	=== === === === === === === === === === === === === === === === === ===
	*/
body.darkmode {
  background: #121212 !important;
  color: #655b5b !important;
}
body.darkmode a:not(.btn-primary),
body.darkmode .tit_layout_01,
body.darkmode .section-more_news-home .list-last-news a .category,
body.darkmode .section-videos-home .more-title-headings,
body.darkmode footer *,
body.darkmode footer#colophon .social-links-menu li a:before,
body.darkmode #subHeader *,
body.darkmode h1,
body.darkmode h2,
body.darkmode h3,
body.darkmode h4,
body.darkmode h5,
body.darkmode h6 {
  color: #655b5b !important;
}
body.darkmode .section-sub-header,
body.darkmode footer#colophon,
body.darkmode #subHeader .accessPoints a strong {
  background: #191414 !important;
}
body.darkmode footer#colophon h6,
body.darkmode footer#colophon .subheader,
body.darkmode #subHeader,
body.darkmode .single_page_lastNews {
  background-color: #292323;
}
body.darkmode .carousel-indicators li {
  background-color: #655b5b;
}
body.darkmode .post-navigation,
body.darkmode .entry-header .meta,
body.darkmode .list-layout-01 li:not(:last-child) {
  border-color: #292323 !important;
}
body.darkmode .site-logo {
  background: url("src/images/logo-sisejufe_branco.png") no-repeat 0 0;
  background-size: contain;
}
body.darkmode .site-logo img {
  visibility: hidden;
}
body.darkmode .list-layout-01 .link-more i {
  color: #ed1c24;
}
body.darkmode .section-banner-noticias-home *:not(i) {
  color: #a59b9b !important;
}
body.darkmode .section-banner-noticias-home .item-banner .wrap {
  background-color: rgba(14, 13, 13, 0.95);
}
body.darkmode .single_page_lastNews *:not(i) {
  color: #a59b9b !important;
}
body.darkmode .section-main-sede-campestre .wrapMainContent .section-title h1 {
  color: #a59b9b !important;
}
body.darkmode input[type=text],
body.darkmode input[type=password],
body.darkmode input[type=url],
body.darkmode input[type=search],
body.darkmode input[type=email],
body.darkmode input[type=tel],
body.darkmode input[type=date],
body.darkmode input[type=month],
body.darkmode input[type=week],
body.darkmode input[type=datetime],
body.darkmode input[type=datetime-local],
body.darkmode textarea,
body.darkmode input[type=number] {
  background: #191414 !important;
  border: 1px solid #292323 !important;
  color: #655b5b !important;
}
body.darkmode img,
body.darkmode div.featured-image,
body.darkmode div.wrapImgMon {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  filter: grayscale(75%) contrast(90%);
}
body.darkmode img:hover,
body.darkmode div.featured-image:hover,
body.darkmode div.wrapImgMon:hover {
  filter: grayscale(0) contrast(100%);
}
body.darkmode .section-archive-inner .item-archive {
  background: #191414 !important;
  border: none !important;
  box-shadow: none;
}
body.darkmode.page-template-page-sede-campestre #masthead, body.darkmode.page-template-page-sede-campestre_reservas #masthead, body.darkmode.page-template-page-sede-campestre_quartos #masthead {
  background: #121212 !important;
}
body.darkmode.page-template-page-sede-campestre .white-box, body.darkmode.page-template-page-sede-campestre_reservas .white-box, body.darkmode.page-template-page-sede-campestre_quartos .white-box {
  background-color: #121212;
}
body.darkmode.page-template-page-sede-campestre .section-main-sede-campestre, body.darkmode.page-template-page-sede-campestre_reservas .section-main-sede-campestre, body.darkmode.page-template-page-sede-campestre_quartos .section-main-sede-campestre {
  background-color: rgba(25, 20, 20, 0.75);
}
body.darkmode.page-template-page-sede-campestre .section-model02, body.darkmode.page-template-page-sede-campestre_reservas .section-model02, body.darkmode.page-template-page-sede-campestre_quartos .section-model02 {
  background-color: rgba(25, 20, 20, 0.95);
}
body.darkmode.page-template-page-sede-campestre .gray-box, body.darkmode.page-template-page-sede-campestre_reservas .gray-box, body.darkmode.page-template-page-sede-campestre_quartos .gray-box {
  background-color: rgba(18, 18, 18, 0.95);
}
body.darkmode.page-template-page-sede-campestre .gray-InsiderColoxBox .wrapInsiderColoxBox, body.darkmode.page-template-page-sede-campestre_reservas .gray-InsiderColoxBox .wrapInsiderColoxBox, body.darkmode.page-template-page-sede-campestre_quartos .gray-InsiderColoxBox .wrapInsiderColoxBox {
  background-color: rgba(18, 18, 18, 0.95);
  color: #655b5b;
}
body.darkmode.page-template-page-sede-campestre .gridModel01 .itemGrid .wrap, body.darkmode.page-template-page-sede-campestre_reservas .gridModel01 .itemGrid .wrap, body.darkmode.page-template-page-sede-campestre_quartos .gridModel01 .itemGrid .wrap {
  background-color: rgba(18, 18, 18, 0.95);
  color: #655b5b;
}
body.darkmode.page-template-page-sede-campestre .tableLayout01, body.darkmode.page-template-page-sede-campestre_reservas .tableLayout01, body.darkmode.page-template-page-sede-campestre_quartos .tableLayout01 {
  box-shadow: none;
}
body.darkmode.page-template-page-sede-campestre .tableLayout01 .header_tableLayout01 > div, body.darkmode.page-template-page-sede-campestre_reservas .tableLayout01 .header_tableLayout01 > div, body.darkmode.page-template-page-sede-campestre_quartos .tableLayout01 .header_tableLayout01 > div {
  background-color: #292323;
}
body.darkmode.page-template-page-sede-campestre .tableLayout01 .line_tableLayout01 > div, body.darkmode.page-template-page-sede-campestre_reservas .tableLayout01 .line_tableLayout01 > div, body.darkmode.page-template-page-sede-campestre_quartos .tableLayout01 .line_tableLayout01 > div {
  border-color: #292323 !important;
  background-color: rgba(18, 18, 18, 0.75);
}
body.darkmode.page-template-page-sede-campestre .tableLayout01 .line_tableLayout01 > div i, body.darkmode.page-template-page-sede-campestre_reservas .tableLayout01 .line_tableLayout01 > div i, body.darkmode.page-template-page-sede-campestre_quartos .tableLayout01 .line_tableLayout01 > div i {
  color: #655b5b;
}
body.darkmode.page-template-page-sede-campestre .section-map-full .white-box, body.darkmode.page-template-page-sede-campestre_reservas .section-map-full .white-box, body.darkmode.page-template-page-sede-campestre_quartos .section-map-full .white-box {
  background-color: #191414;
}
body.darkmode.page-template-page-sede-campestre .section-map-full .wrapIframe:before, body.darkmode.page-template-page-sede-campestre .section-map-full .wrapIframe:after, body.darkmode.page-template-page-sede-campestre_reservas .section-map-full .wrapIframe:before, body.darkmode.page-template-page-sede-campestre_reservas .section-map-full .wrapIframe:after, body.darkmode.page-template-page-sede-campestre_quartos .section-map-full .wrapIframe:before, body.darkmode.page-template-page-sede-campestre_quartos .section-map-full .wrapIframe:after {
  color: #655b5b;
}
body.darkmode.page-template-page-sede-campestre figure.layout01:before, body.darkmode.page-template-page-sede-campestre_reservas figure.layout01:before, body.darkmode.page-template-page-sede-campestre_quartos figure.layout01:before {
  mix-blend-mode: unset;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.8;
}

article {
  margin: 0 auto;
  width: 600px;
  max-width: 85vw;
}
article p {
  text-align: justify;
}
article img {
  max-width: 100%;
}

/*# sourceMappingURL=asb.css.map */
