$defaultColorASB: #ed1c24;

$markerLineColor: rgb(228, 253, 0);
$markerLineOpacity: 0.75;
$markerLineOffset: -1rem;
$markerLineHeight: 1.75rem;

$readingLineColor: $defaultColorASB;
$readingLineOpacity: 1;
$readingLineOffset: 0.5rem;
$readingLineHeight: 0.5rem;

$contrastBrightColor: yellow;
$contrastDarkColor: black;
$contrastWhiteColor: white;

$colorTextDarkModeDefault: #121212;
$colorDarkMode01: #655b5b;
$colorDarkMode02: #292323;
$colorDarkMode03: #191414;
