/*
	=== === === === === === === === === === === === === === === === === ===
	=== === === === === === === readingLine === === === === === === === ===
	=== === === === === === === === === === === === === === === === === ===
	*/
body.accessibility_readingLine {
  #readingLine {
    background-color: $readingLineColor !important;
    opacity: $readingLineOpacity;

    width: 100vw;
    height: $readingLineHeight;

    position: absolute;
    left: 0;
    z-index: 9999;
    transform: translateY($readingLineOffset);
  }

  &.contrast {
    #readingLine {
      // mix-blend-mode: multiply;
      // opacity: 1;
    }
  }
  &.darkmode {
    #readingLine {
      // opacity: 0.25;
      // background: #655b5b !important;
      // mix-blend-mode: unset;
    }
  }
}
