/*
	=== === === === === === === === === === === === === === === === === ===
	=== === === === === === === readingLine === === === === === === === ===
	=== === === === === === === === === === === === === === === === === ===
	*/
body.accessibility_readingLine {
  #readingLine {
    background-color: $readingLineColor !important;
    opacity: $readingLineOpacity;

    width: 100vw;
    height: $readingLineHeight;

    position: absolute;
    left: 0;
    z-index: 9999;
    transform: translateY($readingLineOffset);
  }
}
